.link {
    cursor: pointer;
}

.burger {
    width: 20px;
    height: 16px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    cursor: pointer;
}

.line {
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-color:var(--textColor);
}

.responsiveMenu{
    position: absolute;
    top: 75px;
    left: 0;
    background-color: var(--bg);
    height: calc(100vh - 75px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-size: 20px;
}

@media screen and (max-width: 640px) {
    .burger {
    display: flex;
    }
}