.container{
    height: 20px;
    width: 40px;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 2px;
}

.ball{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    margin-right: 1px;
    margin-left: 1px;
}

